<ion-view view-title="Handicap Tracker">
    
  <ion-content>
    <ion-list>
        <ion-item class="golfer-list-item" ng-repeat="golfer in Golfers" href="#/handicaphistory/{{golfer.id}}">
        <div class="golfer-container" > 
              <div class="golfer-container-inner{{golfer.id}}" data-drag="true" data-jqyoui-options="{axis: 'x'}" jqyoui-draggable="{animate: true, onStop: 'DragStopped'}">
                 
                      
                    <div id="thegolfer">
                        <div class="golfer-name-container">
                            <div class="golfer-name">{{ golfer.GolferName }}</div>
                            <div class="golflink-number">
                                <span>Golf Link #</span> {{golfer.GolfLinkNumber}}</div>
                        </div>
                        <div class="golfer-handicap">Handicap {{golfer.Handicap}}</div>
                    </div>
               
                  <div class="golfer-action">
                      <div class="golfer-action-item"><a href="#/golfer/{{golfer.id}}"><i class="ion-edit golfer-icon edit" ></i></a></div>
                      <div class="golfer-action-item"><a href="#" ng-click="DeleteGolfer( {{golfer.id}} )"><i class="ion-close-round golfer-icon delete" ></i></a></div>
                  </div>
              </div>
            </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

