<ion-view view-title="Golfer Details">

    <!--<ons-toolbar class="golfer-toolbar">
        <div class="left golfer-details-header"><ons-back-button>Back</ons-back-button></div>
        <div class="center golfer-details-header">Golfer Details</div>
      </ons-toolbar>-->
        
      <form name="golferForm" ng-submit="submitGolferForm()" novalidate>
        <div class="form-label">Golfer Name</div>
        <div>
            <input class="text-input ht-input" name="golferName" ng-model="GolferDetails.GolferName" placeholder="Enter golfer name..." required>
            <div ng-show="golferForm.golferName.$invalid && golferForm.$submitted"  class="error">Please enter a golfer name</div>
        </div>

        <div class="form-label">Golf Link Number</div>
        <div>
            <input class="text-input ht-input" name="golflinkNumber" ng-model="GolferDetails.GolfLinkNumber" placeholder="Enter Golf Link number..." required>
            <div ng-show="golferForm.golflinkNumber.$invalid && golferForm.$submitted" class="error">Please enter a Golf Link number</div>
        </div>
  
        <button type="submit" class="button button-block button-positive golfer-save">Save</button>

      </form>
    
</ion-view>