.test{
    background-color: pink;  
}

.test2{
    background-color: yellow;
}

.exactCenter {
    width:400px;
    height:100px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -200px;
}

.ht-header,
.side-nav-bg,
.side-nav-bg a.item-content,
.slide-menu-item{
    background-color: black !important;    
}

.golfer-list-item a.item-content{
    padding: 0px;
}

.golfer-list-item a.item-content.activated{
    background-color: #77CCEB !important;
}

/*Overwrites default black by Ionic css*/
.bar.bar-stable .title,
.menu-icons{
    color:white !important;
    font-weight: bold;
}
.menu-icons:nth-child(1){
    margin-right: 30px !important;
}
.menu-icons:nth-child(2){
    margin-right: 10px !important;
}

.side-nav-bg{
    color: white !important;   
}

.ht-header .title{
    left: 40px !important;
}

.bar-header-ht .title{
    left: 65px !important;
    font-weight: bold !important;
}

.slide-menu-item,
.slide-menu-item a.item-content{
    padding: 0px !important;
}

.slide-menu-item .icon,
.slide-menu-item span{
    color: white !important; 
    padding-left: 15px !important;  
    font-size: 18px !important;
}

.slide-menu-item:nth-child(1){
    border-top-width: 0px;
}

.button-icon .icon:before, .button-icon.icon:before{
    font-size: 30px !important;
}

.popup {
  width: 300px !important;
}

/*Golfer handicap*/
.golfer-container{
    position:relative;    
    overflow: hidden;
}

.golfer-container-inner{
    position:relative; 
    width: 100%;
}

.thegolfer{
    background: yellow;
    float: right;
}

.golfer-name-container{
    width: 60%;
    float:left;
    height: 60px;
}

.golfer-name
{
    width: 100%;
    height: 30px;
    font-weight: bold;
    font-size: 20px;
    padding-top: 10px;
    padding-left: 10px;
}

.golflink-number{
    width: 100%;
    height: 30px;
    font-size: 12px;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 5px;
}

.golflink-number span{
    color: #25AE5F;
    font-weight: bold;
}

.golfer-handicap{
    width: 40%;
    line-height: 60px;
    float: right;
    text-align: right;
    font-weight: bold;
    font-size: 20px;
    padding-right: 25px;
}


.golfer-action {
    float:right;
    color: white;
    position:absolute;
    left:100%;
    width: 150px;
    line-height: 60px;
}

.golfer-action-item{
    float: left;
    width: 50%;
    text-align: center;
    height: 100%;
    
}
.golfer-icon{
    font-size: 34px;
}

.golfer-icon.edit{
    color: green;
}

.golfer-icon.delete{
    color: red;
}



/********** Start Modal Screen **********/

.modal-message{
    font-size: 22px;
    font-weight: bold;
}

.modal-icon{
    padding-bottom: 25px;
}

.spinner svg {
  stroke: #ffffff;
  width: 38px;
  height: 38px;
}


/*overwriting Ionic class as for some reason it doesn't inject this class when called */
.modal{
    background-color: rgba(0,0,0,0.7) !important;
    text-align: center;
    color: white;
}


/********** End Modal Screen **********/



/********** Start Add/Edit Golfer **********/
.golfer-toolbar,
.bar-black{
    background-color: black !important;
}
.golfer-details-header,
.bar-title{
    color: white;
}

.form-label{
    width: 100%;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
}

.form-label{
    padding-top: 35px;
}
.golfer-save{
    margin-top: 15px;
}
.ht-input{
    width: 100%;
    color: #555;
    background-color: #FFF;
    height: 50px;
    font-size: 16px;
    padding-left: 8px;
}

.ht-input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

div.error{
    color: red;
    font-weight: bold;
    padding: 6px 12px;
    font-size: 16px;
}
/********** End Add/Edit Golfer **********/


/*********** Start Handicap History ***********/
.header-large-cell{
    text-align: center;
    height: 50px;
    display: table-cell;
    vertical-align: middle;
    font-size: 12px;
    line-height: 18px;
}

.header-container{
        display:table;
        width:100%;
        table-layout:fixed;
        height: 50px;
}

.header-small-cell{
    
        display: table-cell;
	vertical-align: middle;
	width: 100%;
	margin: 0 auto;
	text-align: center;
        font-size: 12px;
        font-weight: bold;
        color: white;
        background-color: #25AE5F;
}

.header-small-col{
    padding-left: 8px !important;
}

.has-subheader-ht{
    top: 94px !important;
}

.bar-header-ht{
    border-bottom: none !important;
}
.bar-subheader-ht{
    height: 51px !important;
    padding: 0px !important;
    border-top: none !important;
    /*border-bottom-color: black !important;*/
    border-bottom: black solid 1px !important;
}

.ht-row{
    padding: 0px !important;
}

.ht-col{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.ht-col:nth-child(1){
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
     flex: 0 0 50%; 
     max-width: 50%;     
}

.ht-col:not(:first-child){
        -webkit-box-flex: 0;
    -webkit-flex: 0 0 12.5%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 12.5%;
    -ms-flex: 0 0 12.5%;
     flex: 0 0 12.5%; 
     max-width: 12.5%; 
     padding-right: 0px;
     
}

.body-small-cell{
     text-align: center;
    line-height: 50px;
    height:50px;
    font-size: 12px;
    font-weight: bold;
}

.ht-item{
    padding: 0px !important;
    white-space: normal !important;
    border-color: black !important;
}

.in-handicap-calcs{
    background-color: #E77D00;
}
/*********** End Handicap History ***********/